/* SERVICE  & TEAM */
.service {
    padding-block: 20px;
}

.service-list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 30px;
    margin: 10px auto 0;
}

.service-item img {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
}

.team {
    background-color: #8e1b1e;
    padding-block: 20px 60px;
    position: relative;
}

.team::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 46px;
    background: url(../images/outline.png) no-repeat center center / cover;
    bottom: 0;
    left: 0;
}

.team-image {
    width: 50%;
    margin: 10px auto;
}

.team-image img {
    border-radius: 10px;
}


/* ABOUT */
.about {
    padding: 40px 30px;
    display: flex;
}

.about-text {
    margin-left: 10px;
    text-align: center;
}

/* MEMBER */
.member {
    background-color: #8e1b1e;
    padding-block: 40px 60px;
    position: relative;
}

.member-image {
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.member-image img {
    width: 40%;
    border-radius: 10px;
}

.member-image img:not(:first-child) {
    margin-left: 2rem;
}

.member::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 46px;
    background: url(../images/outline.png) no-repeat center center / cover;
    bottom: 0;
    left: 0;
}